/* CSS Document */

.easy-breadcrumb {
	padding:35px 0;
}


.easy-breadcrumb a {
	color:$pink;
} 

.section-blogs .easy-breadcrumb a,
.section-projects .easy-breadcrumb a,
.section-resources .easy-breadcrumb a {
	color:$green;
} 


/* Board breadcrumb overrides */

.easy-breadcrumb.pane-people .view-people .views-row a {
	background:none;
	display:inline;
	color:$pink;
	text-transform: capitalize;
}