/* CSS Document */

.breadcrumb {
	padding:20px 0;
}

.breadcrumb,
.breadcrumb li {
	list-style:none;
	list-style-image:none;
	float:left;
	margin:0;
	width:100%; 
}
.l-main .l-content .breadcrumb li {
	float:left;
	margin:0 5px;
	padding:0 10px 0 0;
	width:auto;
}

.breadcrumb li:before {
}