/* SCSS file */

.l-header {
	z-index: 10;
	position:relative;
	@include clearfix;
}

.l-region--navigation {
	width:100%;
	position:fixed;
	top:0;
	height:75px;
	background:#ffffff;
} 

.logged-in .l-region--navigation {
	top:30px;
} 

/*MOBILE BLOCKS*/

#logo-holder {
	width:200px;
	padding-top:17px;
	margin:0 auto;
}
#logo-holder img {
	width: 150px;
	margin-left:20px;
}
#superfish-menu {
	position:absolute;
	text-transform: uppercase;
	top:22px;
}

			/*LAYOUT BLOCKS*/
			@include breakpoint($gridded) {
				#logo-holder {
				margin:inherit;
				}
				
				#superfish-menu {
				width:100%;
				margin:0;
				text-align:center;
				top:32px; 
				}
				.sf-menu.menu {
				width:650px;
				margin:0 50px 0 auto;
				}
			
				#search {
				position:absolute;
				top:20px;
				right:20px;
				}		
			} 



/* LAYOUT MEU */

#superfish-menu ul.sf-menu > li {
	margin:0;
	text-align: center;
}
#superfish-menu ul li a {
	display:block;
	color:#31271c;
    font-family:"Avenir LT W01_45 Book1475508";
	font-size:1.1em;
}

/* WHO WE ARE */

#superfish-menu ul.sf-menu > li.sf-item-1 {
	width:175px;
}
			#superfish-menu ul.sf-menu > li.sf-item-1 > ul {
				background:$pink;
			}

/* WHAT WE DO */
#superfish-menu ul.sf-menu > li.sf-item-2 {
	width:175px;
}
			#superfish-menu ul.sf-menu > li.sf-item-2 > ul {
				background:$orange; 
			}

/*RESOURCES */
#superfish-menu ul.sf-menu > li.sf-item-3 {
	width:150px;
}
			#superfish-menu ul.sf-menu > li.sf-item-3 > ul {
				background:$blue;
			}

/*CAREERS */
#superfish-menu ul.sf-menu > li.sf-item-4 {
	width:150px; 
}
			#superfish-menu ul.sf-menu > li.sf-item-4 > ul {
				background:$pink;
			}



/* SUB MENU OF SUPERFISH */

#superfish-menu ul li ul {
	position:fixed;
	top:70px;
	left:0;
	right:0;
	height:55px;
	background:rgba(255,255,255,0.8);
	padding:0;
	width:inherit;
	margin:inherit;
}

#superfish-menu ul li ul li {
	float:right; 
}

#superfish-menu ul li ul li.first {
	margin-left:10px;
}

#superfish-menu ul li ul li a  {
	color:#fff;
}



	@include breakpoint($gridded) {
		#superfish-menu ul li ul {
		position:fixed;
		top:70px;
		left:0;
		right:0;
		height:55px;
		background:rgba(255,255,255,0.8);
		padding:0 1px;
		width:100%;
		margin:0;				
		}
		
		.admin-menu #superfish-menu ul li ul {
		top:105px;
		}

}
	@include breakpoint($wide) {
		#superfish-menu ul li ul {
		position:fixed;
		top:70px;
		left:0;
		right:0;
		height:55px;
		background:rgba(255,255,255,0.8);
		padding:0;
		width:100%;
		margin:0 auto;
		}
		
		.admin-menu #superfish-menu ul li ul {
		top:105px;
		}

}

@include breakpoint($widest) {
		#superfish-menu ul li ul {
		position:fixed;
		top:70px;
		left:0;
		right:0;
		height:55px;
		background:rgba(255,255,255,0.8);
		padding:0;
		width:1440px;
		margin:0 auto;
		}
		
		.admin-menu #superfish-menu ul li ul {
		top:105px;
		}

}


#superfish-menu ul li ul.sf-hidden li a {
	margin:-50px 50px 0 0;
	transition: margin 800ms;
}
#superfish-menu ul li ul li a  {
	margin:20px 50px 0 0;
}



/* ORANGE OVERRIDE FOR WHAT WE DO */

#superfish-menu .sf-item-1 a:hover,
#superfish-menu .sf-item-1 a.active {
 	color:$pink;
}

#superfish-menu .sf-item-2 a:hover,
#superfish-menu .sf-item-2 a.active {
   	color:$orange;
}
#superfish-menu .sf-item-3 a:hover,
#superfish-menu .sf-item-3 a.active{
   	color:$blue;
}

#superfish-menu .sf-item-4 a:hover,
#superfish-menu .sf-item-4 a.active {
  	color:$pink;
}

/*  OVERRIDE FOR SUB-MENU */
#superfish-menu .sf-item-1 ul li a:hover,
#superfish-menu .sf-item-2 ul li a:hover,
#superfish-menu .sf-item-3 ul li a:hover,
#superfish-menu .sf-item-4 ul li a:hover {
	border-bottom:2px solid transparent;

}

#superfish-menu .sf-item-1 ul li a:hover,
#superfish-menu .sf-item-2 ul li a:hover,
#superfish-menu .sf-item-3 ul li a:hover,
#superfish-menu .sf-item-4 ul li a:hover,
#superfish-menu .sf-item-1 ul li a.active,
#superfish-menu .sf-item-2 ul li a.active,
#superfish-menu .sf-item-3 ul li a.active,
#superfish-menu .sf-item-4 ul li a.active {
	color:#ffffff;
	border-bottom:2px solid #ffffff;
}


/*
#sm-block ul, #sm-block li {
	list-style:none;
	list-style-image: none;
	float:left;
}

#sm-block a {
	display:block;
	height:30px;
}
#sm-block #email {
	text-indent: -5000px;
	background:url(/sites/all/themes/socialfinance/images/sm-block/e.png) no-repeat left bottom;
	width:45px;
}

#sm-block #facebook {
	text-indent: -5000px;
	background:url(/sites/all/themes/socialfinance/images/sm-block/fb.png) no-repeat left bottom;
	width:30px;
}
#sm-block #twitter {
	text-indent: -5000px;
	background:url(/sites/all/themes/socialfinance/images/sm-block/twit.png) no-repeat left bottom;
	width:40px;
}
#sm-block #linkedin {
	text-indent: -5000px;
	background:url(/sites/all/themes/socialfinance/images/sm-block/in.png) no-repeat left bottom;
	width:50px;
}


*/


/* SUPERFISH MOBILE VIEW */

/* mobile toggle */
.sf-menu-toggle span {
	display:block;
	text-indent:-5000px;
	width:75px;
	height:25px;
	background:url(/sites/all/themes/socialfinance/images/menu.png) no-repeat;
	margin-left:20px
	
}

.sf-menu-accordion {
	width:100%;
	background:rgba(255,255,255,0.65);
	padding:20px;
}

.sf-menu-accordion li {
	padding:10px;
}




/* LAYOUT MEU */
#superfish-menu ul#superfish-2 > li {
	margin:0;
	text-align: center;
}

/* WHO WE ARE */
#superfish-menu ul#superfish-2 > li#menu-473-2 {
	width:175px;
}

/* WHAT WE DO */
#superfish-menu ul#superfish-2 > li#menu-495-2 {
	width:175px;
}

/*RESOURCES */
#superfish-menu ul#superfish-2 > li#menu-496-2 {
	width:150px;
}

/*CAREERS */
#superfish-menu ul#superfish-2 > li#menu-497-2 {
	width:150px; 
}




/* ORANGE OVERRIDE FOR WHAT WE DO */
#superfish-menu #menu-495-2 a:hover,
#superfish-menu #menu-495-2 ul li a:hover,
#superfish-menu #menu-495-2 a.active,
#superfish-menu #menu-495-2 ul li a.active {
	color:$orange;
}

/* ORANGE OVERRIDE FOR RESOURCES */
#superfish-menu #menu-496-2 a:hover,
#superfish-menu #menu-496-2 ul li a:hover,
#superfish-menu #menu-496-2 a.active,
#superfish-menu #menu-496-2 ul li a.active {
	color:$blue;
}



/* SUPERFISH MOBILE VIEW */
 
/* mobile toggle */
#superfish-2-toggle span {
	display:block;
	text-indent:-5000px;
	width:75px;
	height:25px;
	background:url(/sites/all/themes/socialfinance/images/menu.png) no-repeat;
	margin-left:20px
	
}

#superfish-2-accordion {
	width:100%;
	background:rgba(255,255,255,0.65);
	padding:20px;
}

#superfish-2-accordion li {
	padding:10px;
}




