/* SCSS file */

.l-header {
	z-index: 10;
	position:relative;
	@include clearfix;
}
.l-region--navigation {
	width:100%;
	position:fixed;
	top:0;
	height:75px;
	background:#ffffff;
} 
.logged-in .l-region--navigation {
	top:30px;
}  
/* LOGO */
#logo-holder {
	width:140px;
	padding-top:15px;
	margin:0 auto;
	position:relative;
	z-index:100;
}
#logo {
	display:block;
}

#logo-holder img {
	width: 140px;
	margin-left:0;
}
#superfish-menu {
	position:absolute;
	text-transform: uppercase;
	top:0;
	z-index:10;
}

			/*LAYOUT BLOCKS*/
			@include breakpoint($gridded) {
				#logo-holder {
				width:200px;
				margin:inherit;
				}
				#logo-holder img {
				width: 200px;
				margin-left:20px;
				}
				#superfish-menu {
				width:100%;
				margin:32px 0 0 0;
				text-align:center;
				top:0; 
				}
				.sf-menu.menu {
				width:650px;
				margin:0 50px 0 auto;
				}
			
				#search {
				position:absolute;
				top:20px;
				right:20px;
				}		
			} 



/* LAYOUT MEU */

#superfish-menu > ul.sf-menu > li {
	margin:0;
	text-align: center;
	float:right;
	padding:0;
}
#superfish-menu > ul.sf-menu > li a {
	display:block;
    font-family:"Avenir LT W01_55 Roman1475520";
	font-size:0.9em;
	padding:0 20px;
	color:#000000;
}


/*WHO WE ARE */

			#superfish-menu ul.sf-menu > li.sf-item-4 > ul {
				background:$pink;
			}

/*WHAT WE DO */
			#superfish-menu ul.sf-menu > li.sf-item-3 > ul {
				background:$purple;
			}

/* RESOURCES */

			#superfish-menu ul.sf-menu > li.sf-item-2 > ul {
				background:$green; 
			}

/* CAREERS */

			#superfish-menu ul.sf-menu > li.sf-item-1 > ul {
				background:$blue;
			}


/* SUB MENU OF SUPERFISH */

#superfish-menu > ul.sf-menu > li > ul {
	position:fixed;
	top:70px;
	left:0;
	right:0;  
	height:55px;
	padding:0;
	width:inherit;
	margin:inherit;
}

#superfish-menu > ul.sf-menu > li > ul li {
	float:right; 
	text-align: center;
}


#superfish-menu > ul.sf-menu > li > ul a  {
	color:#fff;
	padding:22px 0 14px;
	margin:0 20px;
	border-bottom:5px solid transparent;
	transition: border-bottom-color 200ms;
}

#superfish-menu > ul.sf-menu > li > ul a:hover,
#superfish-menu > ul.sf-menu > li > ul a.active {
	color:#ffffff;
	border-bottom:5px solid #ffffff;
}



	@include breakpoint($gridded) {
		#superfish-menu > ul.sf-menu > li > ul{
		position:fixed;
		top:70px;
		left:0;
		right:0;
		height:55px;
		padding:0 50px 0 0;
		width:100%;
		margin:0 auto;				
		}
		
		.admin-menu #superfish-menu > ul.sf-menu > li > ul {
		top:105px;
		}

	}
	@include breakpoint($wide) {
	}
		

	@include breakpoint($widest) {
		#superfish-menu > ul.sf-menu > li > ul {
		width:1440px;
		}
	}


#superfish-menu ul li ul.sf-hidden li a {
	margin:-50px 50px 0 0;
	transition: margin 800ms;
}


/* ORANGE OVERRIDE FOR WHAT WE DO */

#superfish-menu .sf-item-4 a:hover,
#superfish-menu .sf-item-4 a.active {
 	color:$pink;
}

#superfish-menu .sf-item-3 a:hover,
#superfish-menu .sf-item-3 a.active {
   	color:$purple;
}
#superfish-menu .sf-item-2 a:hover,
#superfish-menu .sf-item-2 a.active{
   	color:$green;
}

#superfish-menu .sf-item-1 a:hover,
#superfish-menu .sf-item-1 a.active {
  	color:$blue;
}


/* SUPERFISH MOBILE VIEW */

/* mobile toggle */
.sf-menu-toggle span {
	display:block;
	text-indent:-5000px;
	width:75px;
	height:25px;
	background:url(/sites/all/themes/socialfinance/images/menu.png) no-repeat;
	margin-left:20px
	
}

.sf-menu-accordion {
	width:100%;
	background:rgba(255,255,255,0.65);
	padding:20px;
}

.sf-menu-accordion li {
	padding:10px;
}




/* LAYOUT MEU */
#superfish-menu ul#superfish-2 > li {
	margin:0;
	text-align: center;
}

/* WHO WE ARE */
#superfish-menu ul#superfish-2 > li#menu-473-2 {
	width:175px;
}

/* WHAT WE DO */
#superfish-menu ul#superfish-2 > li#menu-495-2 {
	width:175px;
}

/*RESOURCES */
#superfish-menu ul#superfish-2 > li#menu-496-2 {
	width:150px;
}

/*CAREERS */
#superfish-menu ul#superfish-2 > li#menu-497-2 {
	width:150px; 
}




/* BEIGE OVERRIDE FOR WHAT WE DO */
#superfish-menu #menu-495-2 a:hover,
#superfish-menu #menu-495-2 ul li a:hover,
#superfish-menu #menu-495-2 a.active,
#superfish-menu #menu-495-2 ul li a.active {
	color:$purple;
}

/* ORANGE OVERRIDE FOR RESOURCES */
#superfish-menu #menu-496-2 a:hover,
#superfish-menu #menu-496-2 ul li a:hover,
#superfish-menu #menu-496-2 a.active,
#superfish-menu #menu-496-2 ul li a.active {
	color:$green;
}



/* SUPERFISH MOBILE VIEW */
 
/* mobile toggle */
.sf-accordion-toggle span {
	display:block;
	text-indent:-5000px;
	width:75px;
	height:25px;
	background:url(/sites/all/themes/socialfinance/images/menu.png) no-repeat;
	margin:20px 0 0 20px;
}

#superfish-1-accordion.sf-menu.menu  {
	position:fixed;
	height:100% !important;
	z-index: 200;
	width:100% !important;
	background:rgba(255,255,255,0.95);
	padding:20px;
	height:inherit;
}

#superfish-menu #superfish-1-accordion > li {
	padding:0;
	text-align: center;
	float:right;
	width:100%;
	position:fixed;
	height:60px;
}

			#superfish-menu #superfish-1-accordion > li.sf-item-1  {
				top:360px
			}
			#superfish-menu #superfish-1-accordion > li.sf-item-2  {
				top:290px
			}
			#superfish-menu #superfish-1-accordion > li.sf-item-3  {
				top:220px
			}
			#superfish-menu #superfish-1-accordion > li.sf-item-4  {
				top:150px;
			}

#superfish-menu #superfish-1-accordion li a {
	text-align: center;
	color:$grey;
	font-size:2em;
	padding:10px;
}

			/* DROPDOWN MENU */
			#superfish-menu #superfish-1-accordion li ul {
				position:relative;
				text-align: center;
				color:#ffffff;
				height:auto;
				margin:0 20%;
				width:60%;
			}
			#superfish-menu #superfish-1-accordion li ul li {
				padding:0;
				height:auto;
			}
			#superfish-menu #superfish-1-accordion li.sf-item-1 ul {
				background:$blue;
			}
			#superfish-menu #superfish-1-accordion li.sf-item-2 ul {
				background:$green;
			}
			#superfish-menu #superfish-1-accordion li.sf-item-3 ul {
				background:$purple;
			}
			#superfish-menu #superfish-1-accordion li.sf-item-4 ul {
				background:$pink;
			}

			#superfish-menu #superfish-1-accordion li ul li a {
				padding:15px;
				font-size:1em;
				color:#ffffff;
			}

