#custom-search-blocks-form-1 {
	width:100%;
	margin:20px auto;
	float:left;
}
#custom-search-blocks-form-1 input.form-text {
	width:100%;
	font-size:1.6em;
	
}

#custom-search-blocks-form-1 #edit-actions {
	float:right;
	width:20%;
}

#custom-search-blocks-form-1 .custom-search-box {
	background:$lightgrey url(/sites/all/themes/socialfinance/images/search2.png) no-repeat right 10px;
	border:0;
	padding:15px;
	margin:0 0 40px 0;
	height:60px;	
}

/* HEADER SEARCH FUNCTION */

#header-search {
	position:absolute;
	right:0;
	top:0;
	text-align: right;
	width:60px;
	background:rgba(255,255,255,0);
	transition:background 200ms;	
	z-index:15;
}
#header-search .form-item {
	margin:0;
}

#header-search .form-item label {
	float:right;
	font-size:0;
	width:60px;
	height:75px;
	background: url(/sites/all/themes/socialfinance/images/search.png) no-repeat 16px 27px;	
}


#header-search:hover {
	width:100%;
	background:rgba(255,255,255,0.92);
	transition:background 200ms;	
}

#header-search  .custom-search-box {
	width:0;
	padding:0;
	border:0;
	transition:width 100ms;
}

#header-search:hover .custom-search-box {
	padding:10px;
	margin-right:10px;
	width:55%;
	margin-top:20px;
	background:$lightbeige;
	transition:width 100ms;
}

#custom-search-blocks-form-2 #edit-actions {
	float:right;
}