
$pink:#d5007f;
$lightpink:#fbe5f2;

$orange:#eb5c1c;
$lightorange:#fdeee8;

$blue:#3795c2;
$lightblue:#cde9f3;

$beige:#bbb0ab;
$lightbeige:#f3f2f1;

$lightgrey:#f0f1f2;
$grey:#68777e;
$darkgrey:#1c2b32;

$gold:#783c81;
$lightgold:#e4d8e6;

$green:#7c8928;
$lightgreen:#e5e7d4;