@media all and (max-width: 800px) {
  #toolbar, #admin-menu {
    display: none;
  }

  html body.toolbar, html body.admin-menu {
    padding-top: 0 !important;
    margin-top: 0 !important;
  }
}
@media screen and (min-width: 768px) {
   .sf-menu.menu {
    width: 970px!important;
    /* margin: 0 50px 0 auto; */
}
}
