// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit";

// Import variables, abstractions, base styles and components using globbing.
//
// Globbing will always import files alphabetically. Optimally, all your
// components should be self-contained and explicit enough to not have any
// contained styles leak into unrelated components: The import order should not
// affect the result.
//
// If there are variables, functions or mixins that depend on each other and
// therefore need to be imported in a specific order you can import them
// directly. Variables-, function- or mixin providing partials should never
// output any styles themselves: Importing them multiple times to resolve
// dependencies shouldn't be a problem.
@import "../../variables/**/*";
@import "../../abstractions/**/*";
@import "../../layout/**/*";
@import "../../base/**/*";
@import "../../components/**/*";


html,body {height:100%;margin:0;padding:0;}
.l-page {min-height:100%;position:relative;}
.l-main {padding-bottom:475px;margin:0 80px;}
.l-footer-wrapper {
	position:absolute;
	bottom:0;
	height:475px; 
	background-color:$grey;
	width:100%;
} 


.l-content {
	@include grid-span(7,1); 
	padding-bottom:50px;
}

.l-region--sidebar {
	@include grid-span(5,8);
}

.pane-page-title h1 {
		text-transform: uppercase;
}


#superfish-menu li.active-trail a.active {
	color:$pink;
}

.pane-page-title h2 {
	font-weight:normal;
	font-size: 1em;
	text-align:center;
	padding-bottom:0; 
}


/* MAIN CONTENT */

.l-content h2.pane-title {
		text-transform: uppercase;
	color:#ffffff;
	background:$orange;
	margin-left:-20px;
	padding:0 20px;
	float:left;
	font-size:1em;
	clear:right;
}


.field--name-body,
.field--name-field-what,
.field--name-field-why {
	float:left;
	width:100%;
}

/* STANDFIRST */

.field--name-field-standfirst p {
	color:$orange;
	font-size:1.6em;	
}

/* PROJECT PARTNERS */

.field--name-field-project-partners > .field__items > .field__item {
	float:left;
	width:25%;
	padding-right:5%;
}

.l-content .pane-node-field-project-partners h2.pane-title {
	color:$orange;
	background:white;
	width:100%;
	font-family:"Avenir LT W01 35 Light";
	font-size:1.2em;
} 


/*KEY FACTS*/
.pane-node-field-key-facts {
	background:$lightorange;
	padding:20px;
	margin-top:20px;
}

.pane-node-field-key-facts h2.pane-title {
	text-transform: uppercase;
	color:$orange;
}

.pane-node-field-key-facts td.odd {
	background:#ffffff;
}
.pane-node-field-key-facts td {
	padding:20px;
}