// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit";

// Import variables, abstractions, base styles and components using globbing.
//
// Globbing will always import files alphabetically. Optimally, all your
// components should be self-contained and explicit enough to not have any
// contained styles leak into unrelated components: The import order should not
// affect the result.
//
// If there are variables, functions or mixins that depend on each other and
// therefore need to be imported in a specific order you can import them
// directly. Variables-, function- or mixin providing partials should never
// output any styles themselves: Importing them multiple times to resolve
// dependencies shouldn't be a problem.
@import "../../variables/**/*";
@import "../../abstractions/**/*";
@import "../../layout/**/*";
@import "../../base/**/*";
@import "../../components/**/*";


a:link,a:visited,a:active,a:hover {
	color:$green;
}

/* MOVE THE TABS FOR THESE PAGES */
.pane-page-tabs {
	position:absolute;
	right:0;
}
 
/* OVERRIDE THE OTHER PAGES */
.l-content .l-region .panel-pane, .l-content .panel-pane {
	width:auto;
}

.l-content {
	@include grid-span(12,1); 
	padding-bottom:50px;
}
.l-content p {
	font-size:1em;
}

/* SOME OF THESE TITLES ARE REALLY LONG... So - reduce the size on Project pages */
.hero .pane-page-title h1 {
	font-size:3.25em;
	text-transform:capitalize;
}

.l-region--sidebar {
	@include grid-span(12,1);
}
 

@include breakpoint($gridded) {
.l-content {
	@include grid-span(7,2); 
	padding-bottom:50px;
}

.l-region--sidebar {
	@include grid-span(3,9);
}
}

.node-type-projects .hero .pane-title {
	top:0;
}

.pane-page-title h1 {
	top:50px;
		text-transform: uppercase;
}


#superfish-menu li.active-trail a.active {
	color:$pink;
}

.pane-page-title h2 {
	font-weight:normal;
	font-size: 1em;
	text-align:center;
	padding-bottom:0; 
}


/* MAIN CONTENT */

.l-content h2.pane-title {
	text-transform: uppercase;
	color:$grey;
	padding:10px 0;
	margin-bottom:0;
	float:left;
	font-size:1.2em;
	clear:right;
}


.field--name-field-background,
.field--name-field-what,
.field--name-field-why {
	float:left;
	width:100%;
}

/* STANDFIRST */

.field--name-field-standfirst p {
	color:$grey;
	font-size:1.4em;	
}

/* PROJECT PARTNERS */

.field--name-field-project-partners > .field__items > .field__item {
	float:left;
	width:25%;
	padding-right:5%;
}

.l-content .pane-node-field-project-partners h2.pane-title {
	color:$green;
	background:white;
	width:100%;
	font-family:"Avenir LT W01 35 Light";
	font-size:1.2em;
} 

/* CONTACT PANE */

.l-region--sidebar .contact-pane a {
	text-align: center;
	padding:10px;
	background-color: $green;
	color:#ffffff;
	display:block;
	margin:10px 0;
	
}


/*KEY FACTS*/
.pane-node-field-key-facts {
	background:$lightgreen;
	padding:10px;
	margin-top:125px;
}

.pane-node-field-key-facts h2.pane-title {
	text-transform: uppercase;
	color:$green;
	margin-top:0;
}

.group-key-first.field-group-div {
	padding-top:0px;
}
.field-group-div {
	padding:20px;
}
.group-second {
	background:#ffffff;
}

.field-group-div .field--name-field-key-header-1,
.field-group-div .field--name-field-key-header-2,
.field-group-div .field--name-field-key-header-3 {
    font-family:"Avenir LT W01_85 Heavy1475544";
	margin:0;
	font-size:2.5em;
	letter-spacing: 0.0075em;
	color:$green;
	
}
.pane-node-field-key-facts td p {
	font-size:1em;
	line-height:1.2em;
	margin-top:10px;
}

/* The TEAM  */
	.views-field-field-profile-picture {
		float:left;
		width:50%;
	}
	.views-field-name {
		text-align: left;
		float:right;
		width:40%;
		margin-left:5%;
		padding-top:20px;
	}
