// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit";

// Import variables, abstractions, base styles and components using globbing.
//
// Globbing will always import files alphabetically. Optimally, all your
// components should be self-contained and explicit enough to not have any
// contained styles leak into unrelated components: The import order should not
// affect the result.
//
// If there are variables, functions or mixins that depend on each other and
// therefore need to be imported in a specific order you can import them
// directly. Variables-, function- or mixin providing partials should never
// output any styles themselves: Importing them multiple times to resolve
// dependencies shouldn't be a problem.
@import "variables/**/*";
@import "abstractions/**/*";
@import "layout/**/*";
@import "base/**/*";
@import "components/**/*";


body.not-front.page-user .hero {
	height:0px;
}

.page-user .l-content .pane-user-login {
	position:relative;
	z-index:100;
	width:600px !important;
	margin: 30px auto;
	border-radius: 10px;
	border:5px solid $lightbeige;
	padding:0 20px;
	top:0;
	@include clearfix;
	background:#ffffff;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
	
}
.page-user .l-content .pane-user-login h2 {
	margin-top:0;
	line-height:1.2em;
}


.page-user .l-content .pane-user-login .form-item {
	float:left;
	width:45%;
	margin-right:5%;
}

.page-user .l-content .pane-user-login .form-item input {
	margin:5px 0;
	width:100%;
	padding:5px;
	height:30px;
}

.page-user .l-content .pane-user-login .form-item label {
	font-weight:normal;
}

/* BACKGROUNDING OF THE IMAGE */

.background-image-formatter {
	background-size: cover !important;
	background:center;
	min-height:300px;
}
	
	.front .background-image-formatter {
	background-size: cover !important;
	background:center;
	min-height:700px;
}
	/* Makes this accessible more easily */
	.front .hero .contextual-links-wrapper {
		margin-top:50px;
	}

	
/* COOKiE COMPLIANCE */

#cookie-compliance {
	position:fixed;
	z-index: 100;
}
	
#cookie-compliance .cookie-compliance__text p  {
	color:white;
}

#cookie-compliance #edit-submit {
	color:black;
}