// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit";

// Import variables, abstractions, base styles and components using globbing.
//
// Globbing will always import files alphabetically. Optimally, all your
// components should be self-contained and explicit enough to not have any
// contained styles leak into unrelated components: The import order should not
// affect the result.
//
// If there are variables, functions or mixins that depend on each other and
// therefore need to be imported in a specific order you can import them
// directly. Variables-, function- or mixin providing partials should never
// output any styles themselves: Importing them multiple times to resolve
// dependencies shouldn't be a problem.
@import "../../variables/**/*";
@import "../../abstractions/**/*";
@import "../../layout/**/*";
@import "../../base/**/*";
@import "../../components/**/*";

 


.l-content .l-region .panel-pane, .l-content .panel-pane {
	width:auto;
	margin:0;
}

/* TITLE */
 
.title {
	padding:0 10px;
	height:auto;
	overflow: hidden;
	background:$pink;
}


			@include breakpoint($gridded) {
							.title {
								padding:0 80px;
								height:130px;
							}
							.l-content .l-region .panel-pane, .l-content .panel-pane {
							width:auto;
							margin:0 50px;
						}
			}
 			@include breakpoint($wide) {
							.l-content .l-region .panel-pane, .l-content .panel-pane {
							margin:0 100px;
						}
			}

.pane-user-field-first-name {
	float:left;
}
.title .pane-user-field-first-name,
.title .pane-user-field-last-name { 
    font-family:"Avenir LT W01 35 Light";
	color:#ffffff;
	padding:90px 5px 0 0;
	text-transform: uppercase;
	font-size: 1.6em;
	float:left;
}
.title .pane-user-field-job-title {
	font-size: 1.6em;
	float:left;
	color:#ffffff;
	padding:90px 0 0 20px;	
}

.field--name-field-biography p {
	font-size:1em;
}


.l-content {
	@include grid-span(12,1); 
	padding-bottom:50px;
}

.l-region--sidebar {
	@include grid-span(12,1);
	margin-top:20px;
	margin-bottom:20px;
}

			@include breakpoint($gridded) {
				.l-content {
					@include grid-span(8,1); 
					padding-bottom:50px;
				}

				.l-region--sidebar {
					@include grid-span(2,9);
					margin-top:20px;
					margin-bottom:20px;
				}
			}

			@include breakpoint($wide) {
				.l-content {
					@include grid-span(7,2); 
					padding-bottom:50px;
				}

				.l-region--sidebar {
					@include grid-span(2,9);
					margin-top:20px;
					margin-bottom:20px;
				}
			}

.pane-page-title h1 {
		text-transform: uppercase;
}

#superfish-menu li.active-trail a.active {
	color:$pink;
}

.pane-page-title h2 {
	font-weight:normal;
	font-size: 1em;
	text-align:center;
	padding-bottom:0; 
}




/* MAIN CONTENT */

.l-content h2.pane-title {
	text-transform: uppercase;
	color:#ffffff;
	background:$pink;
	margin-left:-20px;
	margin-bottom:0;
	padding:5px 20px;
	float:left;
	font-size:1em;
	clear:right;
}

.l-content .pane-user-field-job-title h2.pane-title {
	float:left;
	text-transform: inherit;
	background:#ffffff;
	color:#000000;
	margin:0;
	padding:0 5px 0 0;
	clear:none;
}

.field--name-field-biography {
	float:left;
	width:100%;
}


/* SIDEBAR */

.view-people .view-content {
	width:100%;
}


/*PROFILE PIC */

.pane-user-field-profile-picture img {
	border-radius: 200px 200px 200px 200px;
-moz-border-radius: 200px 200px 200px 200px;
-webkit-border-radius: 200px 200px 200px 200px;
}

/* EMAIL */



.useremail {
	width:100%;
}


/*Work area etc*/
.pane-user-field-work-area {
	background:$lightpink;
	padding:10px;
	margin-top:20px;
}

.pane-user-field-work-area h2.pane-title {
	text-transform: uppercase;
	color:$pink;
	margin:0 0 10px 0;
	font-size:1em;
}

.pane-user-field-active-projects {	
	background:$lightpink;
	padding:10px;	
}

	.pane-user-field-active-projects h2 {
		text-transform: uppercase;
		color:$pink;
		font-size:1em;
		margin:0 0 10px 0;
	}

.pane-user-field-completed-projects {
	background:$lightpink;
	padding:10px;	
	margin-bottom:20px;
}
	.pane-user-field-completed-projects h2 {
		text-transform: uppercase;
		color:$pink;
		font-size:1em;
		margin:0 0 10px 0;
	}


.pane-people .view-people .views-row {
	width:100%;
	margin:20px 0;
}

.pane-people .view-people .views-row a {
	display:block;
	padding:5px;
	color:#ffffff;
	text-transform: uppercase;
	text-align: center;
	background:$pink; 
}

.pane-people .view-people .views-row a:hover {
	color:$pink;
	background:$lightpink; 
}