// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit";

// Import variables, abstractions, base styles and components using globbing.
//
// Globbing will always import files alphabetically. Optimally, all your
// components should be self-contained and explicit enough to not have any
// contained styles leak into unrelated components: The import order should not
// affect the result.
//
// If there are variables, functions or mixins that depend on each other and
// therefore need to be imported in a specific order you can import them
// directly. Variables-, function- or mixin providing partials should never
// output any styles themselves: Importing them multiple times to resolve
// dependencies shouldn't be a problem.
@import "../../variables/**/*";
@import "../../abstractions/**/*";
@import "../../layout/**/*";
@import "../../base/**/*";
@import "../../components/**/*"; 

 
/*----------*/

h2 {
    font-family:"Avenir LT W01 35 Light";
	font-size:2em;
	text-align: center;
	margin-top:0;
	padding-top:20px;
}
h4 {
	text-transform: uppercase;
	text-align: center;
	padding-top:20px; 
}

@include breakpoint($gridded) {
	h4 {padding-top:0;}	
}

/* COMMON STYLES FOR REGIONS */

.l-region h2 {
    font-family:"Avenir Next W01 Thin";
	font-size:3em;
	padding:40px 0 25px;
	margin:0;	
} 

.l-region h2.node__title {
	padding:0; 
	margin:0;
} 

.l-region p {
	font-size:1.2em;
	padding:0 0 25px;
	margin:0; 
}

.l-region--resources {
	background-color: #ffffff;
	padding-bottom: 40px;
}


.hero, .l-region--whoweare, .l-region--resources {
	@include clearfix;
}


/* Who we are */ 

.l-region--whoweare h2.pane-title,
.l-region--whoweare h4 {
	color:$purple;
}
.l-region--whoweare h4 { 
	margin:0 0 30px 0;
}

.l-region--whoweare p {
	padding-bottom:5px;
}

.l-region--whoweare a {
	color:$purple;
}

.l-region--whoweare img {
	padding:10px;
}

.l-region--whoweare #publicservices, 
.l-region--whoweare #charities, 
.l-region--whoweare #trusts,  
.l-region--whoweare #international {
	width:100%;
} 


			@include breakpoint($gridded) {

			.l-region--whoweare #publicservices, 
			.l-region--whoweare #charities, 
			.l-region--whoweare #trusts,  
			.l-region--whoweare #international {
				width:25%;
				float:left;
			}
			}


/* Most read */

.l-region--resources h2 {
	padding-top:0;
}

.l-region--resources h2,
.l-region--resources h4 {
	color:$blue;
}

.l-region--resources a {
	color:$blue;

}

/* H)MEPAGE RESOURCES VIEW */

.view-homepage-recent-content a {
	color:$blue;
}

.view-homepage-recent-content {
	@include clearfix;
}

.view-homepage-recent-content .views-row {
	padding-bottom:25px;
}


.view-homepage-recent-content .projects {
	float:left;
	width:100%;
	margin-right:0;
	padding-bottom:25px;
}
.view-homepage-recent-content .attachment .view-display-id-attachment_1 {
	float:left;
	width:100%;
	
}
.view-homepage-recent-content .attachment .view-display-id-attachment_2 {
	float:left;
	width:100%;
}

.view-homepage-recent-content .attachment .view-display-id-attachment_2 .pubs {
	float:left;
	width:100%;
	margin-right:0%;
}

			@include breakpoint($gridded) {
				.view-homepage-recent-content .projects {
					width:45%;
					margin-right:5%;
				}
				.view-homepage-recent-content .attachment .view-display-id-attachment_1 {
					width:45%;
				}
				.view-homepage-recent-content .attachment .view-display-id-attachment_2 .pubs {
					width:45%;
					margin-right:5%;
				}	
			}

.view-homepage-recent-content .blogs{
	padding-right:30px;
	padding-bottom:25px;
}

.view-homepage-recent-content .pubs{
	padding-right:30px;
	padding-bottom:25px;
}

.view-homepage-recent-content .views-field {
	padding-bottom:5px;
}

.view-homepage-recent-content > .view-header {
	position:absolute;
}

.view-homepage-recent-content .view-header h4 {
	text-align: left;
}

.view-homepage-recent-content .view-footer {
	float:left;
	width:25%;
}




