/* CSS Document */

#search-form label {
	font-weight:normal;
}

.section-search .pane-page-content #search-form input {
	margin:20px 0;
}

.search-result {
	padding:20px 0;
	margin: 0 0 20px 0;
	border-bottom: 5px solid $lightpink;
}

