/* CSS Document */



.container-inline-date .form-item,
.form-type-select {
	width:240px;
	overflow: hidden;
}

select.form-select {
	margin:10px 0 5px 0;
	border:none;
	background:$green;
	border-radius: 0;
	box-shadow: none;
	padding-left:10px;
	text-transform: uppercase;
	color:#ffffff;
	width:268px;
}

select.form-select option {
	padding:10px;
	color:$pink;
	background:$lightpink;
	border:none;
	box-shadow: none;
}


select.form-select option[selected] {
	background:$pink;
	color:#ffffff;
}
select.form-select option:hover {
	background:$pink;
}  


/* COLOURS */
.section-resources select.form-select,
.section-projects select.form-select {
	background:$green;
}
.section-resources select.form-select option,
.section-projects select.form-select option {
	color:$green;
	background:$lightgreen;
}
.section-resources select.form-select option[selected],
.section-projects select.form-select option[selected] {
	background:$green;
}
.section-resources select.form-select option:hover,
.section-projects select.form-select option:hover {
	background:$green;
}

