body {
font-family:"Avenir LT W01 35 Light";
}
 

p {
	font-size:1.2em;
	line-height:1.6em;
}

.l-main .l-content li {
	line-height:1.6em;
	margin:0;
	padding:0;
}

h1,h2,h3,h4,h5,h6 {
    font-family:"Avenir LT W01_85 Heavy1475544";
	font-weight: normal;	
}
em, i {        
	font-family:"AvenirLTW01-35LightObli";
}

strong, b {
    font-family:"Avenir LT W01_85 Heavy1475544";
}

a:link {
	text-decoration: none;
}


.l-region--footer p {margin-left:10px;}
