/* List views of projects */

.view-blog-page a {
	color:$green;
}

.view-blog-page {
	@include clearfix;
}
.view-blog-page .view-header,
.view-blog-page .views-row {
	float:left;
	width:80%;
	margin:0 10% 10px;
	position:relative;
} 

.view-blog-page .views-row .views-field-title h3 {
	margin-bottom:5px;
}