/* List views of people */

.view-people a {
	color:$pink;
}

.view-people {
	@include clearfix;
}

.view-people .views-row {
	float:left;
	width:60%;
	margin:0 20% 5%;
	position:relative;
} 

.view-people h3 {
	float:left;
	width:100%;
} 



				@include breakpoint($gridded) {

					.view-people .view-filters {
						@include grid-span(4,9);
					}
					.view-people .view-content {
						@include grid-span(8,1);
					}
					.view-people .views-row {
							float:left;
							width:30%;
							margin:0 1.5% 2%;
							position:relative;
						} 
					.view-people.view-display-id-page_2 .view-content {
						@include grid-span(12,1);
					}
					.view-people.view-display-id-page_2 .views-row {
							width:22%;
							margin:0 1.5% 5%;
					}
					.view-people.view-display-id-page_2 .views-row-first {
							clear:left;
					}
				}

 
.view-people .views-field-name {
	text-transform: uppercase;
	color:$pink;
	text-align: center;
} 

.view-people .views-field-field-job-title {
	text-align:center;
	min-height:45px;
	padding-top:6px;
	font-size:0.9em;
    font-family:"Avenir LT W01_85 Heavy1475544"; 
}

.view-people .views-field-field-summary {
	min-height:105px;
	padding:10px 0;
	font-size:0.9em;
	line-height:1.4em;
	text-align: center;
}

.view-projects .views-field-field-profile-picture img, /* people pics appearing projects pages */
.view-people .profilepic img {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	margin-bottom:10px;
	padding:5px;
} 

/* FILTERS */


.view-people .views-exposed-form label {
  font-family: "Avenir LT W01_45 Book1475508";
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom:5px;
	float:left;
	color:$pink;
}

.view-people .form-type-bef-link a {
	background:$lightpink;
}
.view-people .form-type-bef-link a.active {
	background:$pink;
}

.view-people .views-reset-button #edit-reset {
	display:block !important;
	padding:10px;
	background:$lightpink;
	margin:20px 0; 
	color:$pink; 
	border-radius: 0;
	border: none;
}
.view-people .views-reset-button #edit-reset:hover {
	color:$lightpink;
	background:$pink;
}


