/* List views of people */

.view-people a {
	color:$pink;
}

.view-people {
	@include clearfix;
}
.view-people .views-row {
	float:left;
	width:60%;
	margin:0 20% 5%;
	position:relative;
} 

@include breakpoint($gridded) {
		.view-people .views-row {
			float:left;
			width:20%;
			margin:0 2.5% 5%;
			position:relative;
		} 
}
 
 

.view-people .views-field-name {
	text-transform: uppercase;
	color:$pink;
	text-align: center;
} 

.view-people .views-field-field-job-title {
	text-align:center;
}

.view-people .views-field-field-summary {
	min-height:80px;
	padding:10px 0;
	font-size:0.9em;
	line-height:1.4em;
	text-align: center;
}

.view-people .profilepic img {
	-webkit-border-radius: 300px;
	-moz-border-radius: 300px;
	border-radius: 300px;
	margin-bottom:10px;
}

/* FILTERS */


.view-people .views-exposed-form label {
  font-family: "Avenir LT W01_45 Book1475508";
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom:5px;
	float:left;
	color:$pink;
}
