/* List views of projects */

.view-projects a {
	color:$green;
}

.view-projects {
	@include clearfix;
}
.view-projects .views-row {
	float:left;
	width:60%;
	margin:0 20% 5%;
	position:relative;
} 

.view-projects .views-row-last {
	margin-bottom:10%;
} 

@include breakpoint($gridded) {
		.view-projects .views-row {
			float:left;
			width:85%;
			margin:0 7.5% 5%;
			position:relative;
		} 
	.views-field-field-page-image {
		float:left;
		width:15%;
		margin-right:5%;
	}
		.view-projects .view-filters {
		@include grid-span(4,9);
	}
	.view-projects .view-content {
		@include grid-span(8,1);
	}
}
 
@include breakpoint($wide) {
	.view-projects .views-row {
			float:left;
			width:92%;
			margin:0 4% 5%;
			position:relative;
		} 
}

.view-projects .views-field-title {
	font-family:"Avenir LT W01 35 Light";
	font-weight: normal;
	color:$green;
	font-size:1.6em;
} 

.view-projects .view-content h3 {
	font-family:"Avenir LT W01 35 Light";
	font-weight: normal;
	color:$grey !important;
	font-size:1.8em;
	margin-top:0;
} 
.view-projects .view-content h3 a  {
	color:$grey !important;
} 

.view-projects .views-field-field-standfirst p {
	margin:0;
	font-size:1.2em;
	line-height: 1.4em;
	height:100px;  
} 


.view-projects .holder {
	position:relative;
}
.view-projects .overproj {
	z-index:1;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	width:100%;
	height:100%;
}

.view-projects .projimg {
	z-index: -1;
}

/* FILTERS */

#views-exposed-form-projects-page {
	float:left;
	@include clearfix;
	margin-bottom:50px;
}

#views-exposed-form-projects-page label {
  font-family: "Avenir LT W01_45 Book1475508";
	font-weight: normal;
	text-transform: uppercase;
	padding-bottom:10px;
	color:$green;
}

.view-projects .form-type-bef-link a {
	background:$lightgreen;
}
.view-projects .form-type-bef-link a.active {
	background:$green;
}


#views-exposed-form-projects-page .views-reset-button #edit-reset {
	display:block !important;
	padding:10px;
	background:$lightgreen;
	margin:20px 0; 
	color:$green; 
	border-radius: 0;
	border: none;
}
#views-exposed-form-projects-page .views-reset-button #edit-reset:hover {
	color:$lightgreen;
	background:$green;
}



/* RELATED CONTENT VIEWS */

/* A closer look */

.l-region--sidebar .view-display-id-block_5 .view-content {
	width:100%;
}

.view-display-id-block_5 .views-row {
	float:left;
	width:100%;
	margin:0 0 10px 0;
	border-bottom:1px solid $lightgreen;
	padding-bottom:5px;
}
 .view-display-id-block_5 .views-row-last {
	border-bottom:none;
	margin:0;
}
 
.view-display-id-block_5 .views-field-type {
	font-size:0.7em;
	padding:7px;
	background:$lightgreen;
	color:$green;
	width:86px;
	text-align:center;
	margin-bottom:7px; 
}
.view-display-id-block_5 .views-field-field-page-image,
.view-display-id-block_5 .views-field-field-video,
.view-display-id-block_5 .views-field-field-cover-pic {
	width:23%;
	margin-right:4%;
	float:left;
	min-height:100px;
}
.view-display-id-block_5 .views-field-title {
	font-size:1em;
	float:right;
	width:73%;
} 





