/* List views of projects */

.view-publications a {
	color:$orange;
}

.view-publications {
	@include clearfix;
}
.view-publications .views-row {
	float:left;
	width:60%;
	margin:30px 20%;
	position:relative;
} 

.view-publications .views-field {
	padding-bottom:10px;
}

.view-publications .views-label {
	float:left;
	margin-right:5px;
}

.view-publications .views-field-title {
	color:$orange;
	font-size:1.2em;
} 


.view-publications .details,
.view-publications .readmore {
		float:left;
		width:100%;
	@include clearfix;
	}

.view-publications .readmore p {
		font-size:1em;
		line-height: 1.4em;
	}

.view-publications .views-field-field-cover-pic img {
	width:100%;
}

.view-publications .views-field-field-upload img {
	vertical-align: top;
	margin-right:10px;
}

html.js .view-publications fieldset.collapsed {
	padding-left:0;
	border:none;
	border-bottom:1px solid $orange; 
}

.view-publications fieldset legend {
	padding-left:0;
	border:none;
	text-transform:uppercase;
}

				@include breakpoint($gridded) {
						.view-publications .views-row-odd {
							@include clearfix;
						}
						.view-publications .views-row {
							float:left;
							width:48%;
							margin:30px 2% 5% 0;
							position:relative;
						} 
						.views-field-field-cover-pic {
							float:left;
							width:23%;
							margin-right:4%;
							min-height:190px;
						}
						.titlegroup {
							float:right;
							width:73%;
						}
				}
 
/* FILTERS */

#views-exposed-form-projects-page {
	float:left;
	@include clearfix;
	margin-bottom:40px;
}

.views-exposed-form label {
  font-family: "Avenir LT W01_45 Book1475508";
	font-weight: normal;
	text-transform: uppercase;
	padding-bottom:10px;
	color:$orange;
}
