// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit";

// Import variables, abstractions, base styles and components using globbing.
//
// Globbing will always import files alphabetically. Optimally, all your
// components should be self-contained and explicit enough to not have any
// contained styles leak into unrelated components: The import order should not
// affect the result.
//
// If there are variables, functions or mixins that depend on each other and
// therefore need to be imported in a specific order you can import them
// directly. Variables-, function- or mixin providing partials should never
// output any styles themselves: Importing them multiple times to resolve
// dependencies shouldn't be a problem.
@import "../../variables/**/*";
@import "../../abstractions/**/*";
@import "../../layout/**/*";
@import "../../base/**/*";
@import "../../components/**/*";

#tabs ul.tabs--primary li a,
a:link,a:visited,a:active,a:hover {
	color:$purple;
} 

.hero .pane-page-title h1 {
	font-size:3.25em;
}
 
.l-main {
	@include clearfix;
} 
.l-content {
	@include grid-span(10,2);
	padding-bottom:50px;
}
.l-content p {
	font-size:1em;
}

			
.l-content .l-region .panel-pane, .l-content .panel-pane {
	width:auto;
}

#leftcolumn {
	@include grid-span(12,1);
}
#rightcolumn {
	@include grid-span(12,1);
} 

@include breakpoint($gridded) {
			#leftcolumn {
				@include grid-span(6,1);
			}
			#rightcolumn {
				@include grid-span(6,7);
			}
	
			.l-region--rightcol {
				padding-left:20px;
				border-left:5px solid $lightpurple;
				float:left;
			}
	}


/* A closer look */

.views-row {
	float:left;
	width:100%;
	margin:0 0 20px 0;
	border-bottom:1px solid $lightpurple;
	padding-bottom:20px;
}
 .views-row-last {
	border-bottom:none;
	margin:0;
}
 
.views-field-type {
	font-size:0.7em;
	padding:7px;
	background:$lightpurple;
	color:$purple;
	width:86px;
	text-align:center;
	margin-bottom:7px;
}
.views-field-field-cover-pic {
	min-height:120px;
	width:16%;
}
/* Override the annoying empty view lack of title conundrum fix */
.view-what-we-do-tagged-content .view-empty p {
	display:none;
}


/* PROJECT PARTNERS */

.pane-node-field-project-partners {
	@include clearfix;
	border-top:2px solid $lightpurple;
	border-bottom:2px solid $lightpurple;
	padding:20px 0;
	margin-bottom: 20px
}

.field--name-field-project-partners > .field__items > .field__item {
	float:left;
	width:32%;
	padding-right:1%;
}

.l-content .pane-node-field-project-partners h2.pane-title {
	color:$purple;
	background:white;
	width:100%;
	font-family:"Avenir LT W01 35 Light";
	font-size:1.2em;
} 

/* CONTACT US BUTTON */


.contactus {
	@include clearfix;
	margin:20px auto;
	width:90%;
	background:$purple;
	color:$lightpurple;
	padding:10px;
	text-align: center;
}
			@include breakpoint($gridded) {
				.contactus {
					width:35%;
				}
			}

.contactus:hover {
	background:$lightpurple;
	color:$purple;
}
.contactus a {
	color:$lightpurple;
}
.contactus:hover a {
	color:$purple;
}






