/* CSS Document */

body.front .hero {
	height:600px;
	margin-top:76px;
	position:relative;
}

body.not-front .hero {
	height:300px;
	margin-top:76px;
	position:relative;
}

.background-image-formatter {
	min-height:300px;
	background-size: cover;
	background:center center;
}

#search-wrapper {
	position:absolute;
	height:100%;
	width:100%;
	background: url(/sites/all/themes/socialfinance/images/search.jpg);
	background-size: cover; 
	background-position: center center;
}

#contact-wrapper {
	position:absolute;
	height:100%;
	width:100%;
	background: url(/sites/all/themes/socialfinance/images/map.jpg);
	background-size: cover; 
	background-position: center center;
}

#hero-wrapper {
	position:absolute;
	height:100%;
	width:100%;
	background: url(/sites/all/themes/socialfinance/images/sf_teambuild_img_3691.jpg);
	background-size: cover; 
	background-position: center center;
}

#blog-wrapper {
	position:absolute;
	height:100%;
	width:100%;
	background: url(/sites/default/files/pictures/blogs.jpg);
	background-size: cover;
	background-position: center center;
}

#vacancies-wrapper {
	position:absolute;
	height:100%;
	width:100%;
	background: url(/sites/default/files/pictures/vacancies.jpg);
	background-size: cover;
	background-position: center center;
}

#image-wrapper  {
	position:absolute;
	height:100%;
	width:100%;
	background-size: cover;
	background-position: center center;
}

#board-wrapper {
	position:absolute;
	height:100%;
	width:100%;
	background: url(/sites/default/files/pictures/board.jpg);
	background-size: cover;
	background-position: center center;
}
#projects-wrapper {
	position:absolute;
	height:100%;
	width:100%;
	background: url(/sites/default/files/pictures/workwithus.jpg);
	background-size: cover;
	background-position: center center;
}
#people-wrapper {
	position:absolute;
	height:100%;
	width:100%;
	background: url(/sites/default/files/pictures/people.jpg);
	background-size: cover;
	background-position: center center;
}
#news-wrapper {
	position:absolute;
	height:100%;
	width:100%;
	background: url(/sites/default/files/pictures/news.jpg);
	background-size: cover;
	background-position: center center;
}
#supporters-wrapper {
	position:absolute;
	height:100%;
	width:100%;
	background: url(/sites/default/files/supporters-607263274.jpg);
	background-size: cover;
	background-position: center center;
} 
#pubs-wrapper {
	position:absolute;
	height:100%;
	width:100%;
	background: url(/sites/default/files/pictures/publications1.jpg);
	background-size: cover;
	background-position: center center;
}


/* TITLES ETC */

.hero .pane-page-title { 
	position:absolute;
	top:150px;
	left:0;
	right:0;
	padding:0;
	margin:0 auto;
	z-index:2;
}

.hero .pane-page-title h1 {
	text-align: center;
    font-family:"Avenir LT W01 35 Light";
	font-size:4em;
	color:#ffffff;
	margin-top:0;
	text-shadow: 0px 0px 50px rgba(0, 0, 0, 1);
}

.l-region .hero p {
	padding:0;
}

.front .l-region--hero p img {
	position:absolute;
	top:0;
	width:150%;
}
.overlay {
	padding-top:20px;
	position:absolute;
	top:0;
	left:0;
	text-align: center;
	z-index: 1;
	color:#ffffff;
}

.overlay h1, .overlay h3 {
	text-shadow: 0px 0px 30px rgba(0, 0, 0, 1);
	color:#ffffff;
    font-family:"Avenir LT W01 35 Light";
}


	@include breakpoint($gridded) {
		body.not-front .hero {
			height:300px;
			margin-top:76px;
		}
		body.front .hero {
			height:500px;
		}
		
		body.front .overlay {
			padding-top:80px;
		}
		body.not-front .overlay {
			padding-top:80px;
		}		
		.overlay h1 {
			font-size:3em;
		}
}

	@include breakpoint($wide) {
		body.front .hero {
			height:600px;
		}
		body.front .overlay {
			padding-top:185px;
		}
		body.not-front .overlay {
			padding-top:100px;
		}
		.overlay h1 {
			font-size:4em;
		}
}

	@include breakpoint($widest) {
			body.front .hero {
			height:700px;
		}
	
		body.front .overlay {
			padding-top:300px;
		}
		body.not-front .overlay {
			padding-top:150px;
		}
		.overlay h1 {
			font-size:4em;
		}
	}



.overlay h3 {
	font-size:1.4em;
	width:75%;
	margin:20px auto;
}
.overlay .ourstory {
	padding:20px;
	border:2px solid #ffffff;
	width:200px;
	background:rgba(255,255,255,0.20);
	margin:40px auto;
}

@include breakpoint($gridded) {
	.hero .pane-title,
	.hero .pane-page-title { 
	top:150px;
	}
	
	.front .hero {
		height:650px;
	}
	
	.hero {
	height:500px;
	overflow: hidden;
		position:relative;
	}

	.page-user .hero {
	height:inherit;
	}
	.page-contact .hero {
	height:75px;
	}
	.l-region--hero p img {
	width:100%;
	margin-top:-150px;
	}
}


@include breakpoint($wide) {
	.hero .pane-title {
	top:350px;
	}
}




