/* CSS Document */

footer .l-region-footer p {
	font-size: 0.8em;
}

#footlog img {
	width:175px;
	padding-top:20px;
	padding-left:45px;
	margin:0 auto;
}

#footlog p {
	text-align: center;
	padding:0;
}


	#fsm-block {
		width:50%;
		margin:0 25%;
		padding:20px 0;
	}

footer .pane-block-1 {
	position:absolute;
	bottom:0;
	background-color: $darkgrey;
	width:100%;
	color:#ffffff;
}

footer .pane-block-1 p {
	padding:10px 20px;
	margin:0 0 0 10px;
	font-size: 1em;
	text-align: center;
}

#menu-address, #footlinks {	
		margin:20px 50px;
		text-align:center;
}

@include breakpoint($gridded) {
	
	#footlog {
	@include grid-span(8,1);	
	}
	#footlog p {
	text-align: left;
}
	
	#fsm-block {
		@include grid-span(4,9);
		padding:20px 0 0 0;
	}
	
	#menu-address, #footlinks {	
		@include grid-span(12,1);	
		margin:20px 0 10px 0;
		text-align:left;
	}
	#menu-address {	
		margin:50px 0 10px 0;
	}	
	
	footer .pane-block-1 p {
		text-align: left;
	}
}
	
#fsm-block ul {
	margin:0 auto;
}


#fsm-block ul, #fsm-block li {
	list-style:none;
	list-style-image: none;
}
#fsm-block li {
	float:left;
}

#fsm-block a {
	display:block;
	height:30px;
}
#fsm-block #email {
	text-indent: -5000px;
	background:url(/sites/all/themes/socialfinance/images/sm-block/e-wo.png) no-repeat left bottom;
	width:45px;
}

#fsm-block #facebook {
	text-indent: -5000px;
	background:url(/sites/all/themes/socialfinance/images/sm-block/fb.png) no-repeat left bottom;
	width:30px;
}
#fsm-block #twitter {
	text-indent: -5000px;
	background:url(/sites/all/themes/socialfinance/images/sm-block/twit.png) no-repeat left bottom;
	width:40px;
}
#fsm-block #linkedin {
	text-indent: -5000px;
	background:url(/sites/all/themes/socialfinance/images/sm-block/in.png) no-repeat left bottom;
	width:50px;
}

/* Main menu and addresss block */

#menu-address h4 {
	text-align: center;
	color:white;
	margin-top:0;
}

		@include breakpoint($gridded) {
				#menu-address h4 {
					text-align: left;
					}
		}


#menu-address p {
	margin:0;
	padding:0 0 10px 0;
	line-height:1.2em;
	font-size:0.9em;
}

#menu-address h4 a,
#menu-address p a {
	color:#fff;
}
#menu-address h4 a:hover,
#menu-address p a:hover {
	text-decoration: underline;
}

#menu-address .menu1,
#menu-address .menu2,
#menu-address .menu3,
#menu-address .address {
	color:#ffffff;
	width:100%;
}
	#menu-address .address {
	padding:20px 0 0 0;
	}

@include breakpoint($gridded) {
	#menu-address .menu1,
	#menu-address .menu2,
	#menu-address .menu3,
	#menu-address .address {
		float:left;
		width:25%;
		padding-top:20px;
		
	}
	
	#menu-address .menu1 {
	padding-left:3%;
	width:22%;
	}
	#menu-address .menu3 {
	width:24%;
	}
	#menu-address .address {
	padding:30px 3% 0 0;
	width:22%;
	}
	
}

/* FOOTER MENU */


#footlinks {
	@include clearfix;
		
}

#footlinks ul, #footlinks li {
	list-style:none;
	list-style-image:none;
	margin:0;
	padding:0;
}

#footlinks ul {
	padding:0 3%;
	float:none;
} 

#footlinks li {
	float:none;
	text-align:center;
	line-height: 1.6em;
}
@include breakpoint ($gridded) {
	#footlinks ul {
		float:right;
	} 
	#footlinks li {
		float:left;
		text-align:center;
	}	
}
 

#footlinks li a {
	color:#fff;
	text-transform: uppercase;
	padding-right:1.5em;
	font-size:0.9em;
}

#footlinks li a:hover {
	text-decoration: underline
}

